<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manager</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/admin.css} ">
</head>

<body>
<div th:insert="~{navbar :: navbar}">  </div>
<div class="container mt-5">
    <h1 class="text-center" style="color: lightgrey; font-weight: bold; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Admin Manager</h1>
    <div class="row mt-4">

        <div class="card">
            <img src="/images/stats.png" class="card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5>
                <p class="card-text">see statistics and reports</p>
                <a th:href="@{/admin/cinema/stats}" class="btn btn-primary">See more</a>
            </div>
        </div>


        <div class="card">
            <img src="/images/movie.jpg" class="card-img-top" alt="Image 2">
            <div class="card-body">
                <h5 class="card-title">Movies</h5>
                <p class="card-text">Create more movies.</p>
                <a th:href="@{/admin/movie/create}" class="btn btn-primary">Create Movies</a>
            </div>
        </div>



        <div class="card">
            <img src="/images/cinema.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Cinemas</h5>
                <p class="card-text">Create or delete cinemas.</p>
                <a th:href="@{/admin/cinema/create}" class="btn btn-primary">Create Cinemas</a>
                <a th:href="@{/cinemas}" class="btn btn-danger glowing">Delete Cinemas</a>
            </div>
        </div>


    </div>
</div>

</body>
</html>
