<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Ticket Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/statistics.css} ">
</head>

<body>
<div th:insert="~{navbar :: navbar}">  </div>

<div class="container">
    <h1>Ticket Statistics</h1>

    <table class="table table-striped table-bordered">


        <div class="total-income">
            Daily Income: <a th:text="${todayIncome}"> $</a>
        </div>

        <div class="total-income">
            Total Income: <a th:text="${allTimeIncome}"> $</a>
        </div>

        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Income</th>
            <th>Tickets count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${stats}">
            <td th:text="${stat.date}"></td>
            <td th:text="${stat.totalTicketsSold}"></td>
            <td th:text="${stat.ticketsCount}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Total income section -->


    <a th:href="@{/admin}" class="btn btn-primary">Back</a>
</div>
</body>
</html>
