<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cinema Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li sec:authorize="isAuthenticated()">
          <form action="#" th:action="@{/logout}" method="post" class="logout-btn">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
        </li>
        <div sec:authorize="isAnonymous()">
          <li class="nav-item">
            <a class="nav-link" href="@{/login}">Login</a>
          </li>

          <li id="custom-item" class="nav-item">
            <a class="btn btn-success" href="@{/register}">Register</a>
          </li>
        </div>

      </ul>
    </div>
  </div>
</nav>

</html>