
body {
    background-image: url('/images/admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    }

    .card {
        width: 350px;
        height: 350px;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 3 2px 5px rgba(0, 0, 0, 0.1);
    }
    .card-title{
     font-weight:bold;
    }
    .card-img-top {

       max-height: 190px;

            }


    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }


