body {
        background-image: url('/images/admin.jpg');
        font-family: Arial, sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        }


        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 40px);
        }
        .form-title {
        font-size: 20px;
        margin-bottom: 10px;
        }
        .shit {
        background-image: url('/images/black.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: left;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 5px;
        width: 80%;
        height: 150%;
        max-width: 400px;
        }

        label {
            color: #F0F8FF;
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 14px;
        }

        button {
            color: #F0F8FF;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: F0F8FF;
            color: #fff;
            cursor: pointer;
        }

        .box {
            text-align: center;
            display: flex; justify-content: center; margin-top: 35px;
            }